<section>
  <h1>About Me</h1>
  <p>Hi! My name is Yerzhan Torgayev and I'm a Software Engineer.</p>
  <p>Passionate about web development and building beautiful and smart products. Mainly interested in Python, PHP, JavaScript, ML and Algorithms.</p>
  <p>Currently work at <a href="https://petrel.ai/" target="_blank">Petrel AI</a> as a Backend Developer. Previously worked on  <a href="https://hipo.kz" target="_blank">HiPO</a>, <a href="https://ktpay.kz" target="_blank">KTPay</a>, <a href="https://lensmark.kz" target="_blank">Lensmark</a>.</p>
  <p>If you want to contact me, you can drop a line to <a href="mailto:yerzhan.torgayev@gmail.com">yerzhan.torgayev@gmail.com</a> or follow me on internet</p>
</section>
