/* -*- mode:css coding:utf-8 -*- */

$max-width: 900px;
$base-font-color: #444;

#comments {
  display: none;
}
body {
  font-family: "Hiragino Mincho ProN", Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
  color: #{$base-font-color};
  margin: 0px;
  padding: 0px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Hiragino Mincho ProN", Georgia, Times, "Times New Roman", serif;
}

.site_metas {
  background-color: #fff;
  color: #{$base-font-color};
  a {
    color: #{$base-font-color};
  }
}

header[role="banner"] {
  @extend .site_metas;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background-color: yellow;
    }
  }
  hgroup {
    h1 {
      margin: 0px;
      padding: 0px;
      font-size: 2.5em;
      font-weight: 100;
    }
    h2 {
      display: none;
    }
    margin: 0px;
    padding: 0px;
  }

  margin: 30px 50px 50px;
  @media screen and (max-width: 600px) {
    margin: auto;
    text-align: center;
  }
  padding: 0px;
  position: relative;
}

#content {
  margin: 8px auto;
  max-width: #{$max-width};
  padding: 0 20px;
  a {
    color: #33c;
  }
  a:visited {
    color: #939;
  }
  a:hover {
    background-color: yellow;
  }
  dl {
    margin: 1em;
  }
  dt {
    margin-top: 0.6em;
    font-style: italic;
  }
}
.entry > header {
  margin: 50px 0px;
}

p.meta {
  text-align: right;
}

footer[role="contentinfo"] {
  @extend .site_metas;
  text-align: center;
  margin: 0px;
  padding: 8px;
  font-size: 80%;
  p {
    margin: 0px;
  }
}

/* archive page */
#blog-archives ul li {
  list-style-type: none;
}

/* disqus */
#dsq-reply > h3,
#dsq-account-dropdown,
#dsq-subscribe {
  display: none;
}
#disqus_thread #dsq-content #dsq-global-toolbar {
  margin: 0.3em 0px;
}
#dsq-reply {
  margin: 0.3em;
}
