<div class="block">
    <h2>iPhone XS Max</h2>
    <img src="/images/iphone-xs-max-2018.jpg" class="block__img">
    <p>Apple teams design the world’s best products, with the most innovative displays, chips, cameras, operating systems, and services.</p>
    <a href="https://www.apple.com/iphone-xs/specs/" target="_blank">read more</a>
</div>

<div class="block">
    <h2>Macbook Pro</h2>
    <img src="/images/macbook-2018.jpg" class="block__img">
    <p>MacBook Pro elevates the notebook to a whole new level of performance and portability. Wherever your ideas take you, you’ll get there faster than ever with high‑performance processors and memory, advanced graphics, blazing‑fast storage, and more.</p>
    <a href="https://www.apple.com/macbook-pro/specs" target="_blank">read more</a>
</div>